<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploader</title>
</head>
<body>
    <h3>Encrypt a file</h3>
    <form action = "/upload" method = "POST"
         enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
      </form>
    <h3>Decrypt a file</h3>
    <form action = "/upload" method = "POST"
         enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <label for="filetype">File type:</label>
        <input id="filetype" type = "text" name = "filetype" />
        <input type = "submit"/>
    </form>
</body>
</html>